{% load tailwind_tags static %}
<!doctype html>
<html lang="fr">	
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Licorne Joueuse</title>
  {% tailwind_css %}
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=action_key,add_circle,align_center,chat,close,crisis_alert,delete,filter_list,filter_list_off,login,logout,save,shelves,sync_saved_locally,view_list" rel="stylesheet">
  <style type="text/css">
    .material-symbols-outlined.text-base {
      font-size: 2em;
    }
  </style>
</head>
<body class="bg-zinc-50 text-zinc-950">
  <header>
  <h1>La Licorne Joueuse - Association</h1>
  <img src="{% static 'global/banniere_licorne.png' %}" alt="Bannière de l’association La Licorne Joueuse">
  </header>
	<nav class="navbar bg-zinc-950 text-zinc-50 z-55">
    <ul class="menu menu-horizontal px-1 flex-1">
      <li>
        <details>
          <summary><span class="material-symbols-outlined text-base">shelves</span>Catalogue</summary>
            <ul class="bg-base-100 rounded-t-none p-2 z-50 bg-zinc-900">
              <li><a href="{% url 'index' %}">Jeux de société</a></li>
              <li><a href="{% url 'wooden_index' %}">Jeux en bois</a></li>
              <li><a href="{% url 'rpg_index' %}">Jeux de rôle</a></li>
              <li><a href="{% url 'toys_index' %}">Jouets</a></li>
              <li>
              <a href="{% url 'location_index' %}">Localisation des jeux</a>
              </li>
            </ul>
        </details>
    </ul>
    {% if request.user.is_authenticated %}
    <ul class="menu menu-horizontal px-1 flex-1">
      <li>
        <details>
          <summary><span class="material-symbols-outlined text-base">view_list</span>Inventaire</summary>
            <ul class="bg-base-100 rounded-t-none p-2 z-50 bg-zinc-900">
              <li><a href="{% url 'inventory_index' %}">Liste</a></li>
              <li><a href="{% url 'generate_game_csv' %}">Jeux - CSV</a></li>
              <li><a href="{% url 'generate_comment_csv' %}">Commentaires - CSV</a></li>
            </ul>
        </details>
    </ul>
    {% endif %}
    {% if not request.user.is_authenticated %}
    <button class="flex-1"><a href="{% url 'login' %}"><span class="material-symbols-outlined text-base mr-2">login</span>Se connecter</a></button>
    {% else %}
      <form action="{% url 'logout' %}" method="post" class="flex-1">
        {% csrf_token %}
        <button type="submit" class="w-full"><span class="text-base material-symbols-outlined mr-2">logout</span>Se déconnecter</button>
      </form>
    {% endif %}
	</nav>
  {% block content %}
  {% endblock %}
  <footer>
  <hr>
  <p>La Licorne Joueuse - Association</p>
  </footer>
  {% block javascript %}
  {% endblock %}
</body>
</html>
