{% extends "games/main.html" %}
{% block content %}
	<h1>Liste de jeux de la Licorne Joueuse</h1>
	{% if games %}
    <table id="gamesList" class="display">
      <thead>
        <tr>
          <th>Numéro</th>
          <th>Nom</th>
          <th>Âge</th>
          <th>Nombre jetons</th>
        </tr>
      </thead>
      <tbody>
      {% for game in games %}
        <tr>
          <td>{{ game.number }}</td>
          <td><a href="{% url 'detail' game.number %}">{{ game.title }}</a></td>
          <td>{{ game.age }}</td>
          <td>{{ game.token }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
	{% else %}
		<p>Vous n'avez pas de jeux</p>
	{% endif %}
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
    $(document).ready( function() {
      $('#gamesList').DataTable({
        paging: false,
        select: true
      });
    });
  </script>
{% endblock %}
