{% extends "games/main.html" %}
{% block content %}
	<h1>Liste de jeux de la Licorne Joueuse</h1>
	{% if games %}
      <div class="flex flex-wrap">
      {% for game in games %}
        <article class="card rounded-x1 shadow-sm bg-yellow-600 m-4 w-96">
          <figure>
            <img src="/{{ game.image }}"></img>
          </figure>
          <div class="card-body">
            <h3 class=card-title"">{{ game.title }}</h3>
            <p class="badge">n°{{ game.number }}</p>
            <p class="badge">Age minimum : {{ game.age }}</p>
            <p class="badge">Nb jetons : {{ game.token }}</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary"><a href="{% url 'detail' game.number %}">Pour en savoir plus</a></button>
            </div>
          </div>
        </article>
      {% endfor %}
      </div>
	{% else %}
		<p>Vous n'avez pas de jeux</p>
	{% endif %}
{% endblock %}
