{% extends "main.html" %}
{% block content %}
<form action="{% url 'inventory_index' %}" method="post" class="text-zinc-800">
  {% csrf_token %}
  <input name="selected_games" type="hidden" value="{{ selected_games | join:',' }}" />
<h1>Inventaire des jeux de la Licorne</h1>

<!-- Bandeau d’actions de l’inventaire  -->
<div class="flex sticky top-0 z-50 bg-zinc-50 w-full pl-10 pr-10 flex-wrap place-content-around">
  <a href="#modal_filter" class="block btn btn-outline m-2 border-orange-500 border-2 flex-1"><span class="material-symbols-outlined text-base">filter_list</span></a>
  <div id="modal_filter" class="modal block bg-orange-300" role="dialog">
      {{ filter_form.as_p }}
      <input type="submit" value="Filtrer" class="btn">
  </div>
  <div class="btn btn-outline m-2 border-orange-500 border-2 flex-1"><a href="{% url 'add_game' %}"><span class="material-symbols-outlined text-base">add_circle</span></a></div>
  <a href="#modal_shortcuts" class="block btn btn-outline m-2 border-orange-500 border-2 flex-1"><span class="material-symbols-outlined text-base">align_center</span></a>
  <div id="modal_shortcuts" class="modal block" role="dialog">
        {% for hundred in shortcuts %}
          <div class="flex mt-0 mb-0 place-content-around">
          {% for quart in hundred %}
          <button class="btn w-10 border-orange-500 border-2 m-1" type="button"><a href="#tr-{{ quart.1 }}">{{ quart.0 }}</a></button>
          {% endfor %}
          </div>
        {% endfor %}
  </div>
  <a href="#modal_action" class="block btn btn-outline m-2 border-orange-500 border-2 flex-1"><span class="material-symbols-outlined text-base">action_key</span></a>
  <div id="modal_action" class="modal block bg-orange-300" role="dialog">
      <input class="radio bg-pink-100 mr-2" type="radio" id="batch" name="actions" value="batch" /><label for="batch">Modification en masse</label>
      <br>
      <input class="radio bg-pink-100 mr-2" type="radio" id="print_labels" name="actions" value="print_labels" /><label for="print_labels">Impression des étiquettes</label>
      <br>
      <input type="submit" value="Go" class="btn m-2">
  </div>

</div>
<!-- Fin du bandeau d’actions -->

{% if selected_games_to_display %}
<div class="flex justify-center">
<section class="collapse">
  <input type="checkbox" />
  <div class="collapse-title btn btn-outline w-55 m-auto border-orange-500 border-2">Jeux sélectionnés filtrés</div>
  <div class="collapse-content">
    <table class="table">
      <thead>
        <tr class="text-zinc-500">
          <th></th>
          <th>Numéro</th>
          <th>Nom</th>
          <th>Localisation</th>
          <th>Année de sortie</th>
        </tr>
      </thead>
      <tbody>
        {% for game in selected_games_to_display %}
        <tr>
          <td><input name="selected-game-{{ game.number }}" checked type="checkbox" class="checkbox border-orange-500 text-orange-500 border-2 checked:bg-orange-500 checked:text-zinc-100" />
          <td>{{ game.number }}</td>
          <td>{{ game.name }}</td>
          <td>{{ game.location }}</td>
          <td>{{ game.year }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
</div>
{% endif %}
<section class="overflow-x-auto text-zinc-800">
  <table class="table">
    <thead>
      <tr class="text-zinc-500">
        <th></th>
        <th>Numéro</th>
        <th>Nom</th>
        <th>Localisation</th>
        <th>Année de sortie</th>
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
      <tr>
        <td><input id="tr-{{ game.number }}" name="selected-game-{{ game.number }}" {% if game.number in current_selected_games %}checked{% endif %} type="checkbox" class="checkbox border-orange-500 text-orange-500 border-2 checked:bg-orange-500 checked:text-zinc-100" />
        <td>{{ game.number }}</td>
        <td><a class="link" href="{% url 'update_game' game.number %}">{{ game.name }}</a></td>
        <td>{{ game.location }}</td>
        <td>{{ game.year }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if not games %}
    <div role="alert" class="alert alert-error w-80 m-auto mb-2">
      <p class=""><span class="material-symbols-outlined text-base">crisis_alert</span>Aucun jeux n’est ressorti du filtrage.</p>
    </div>
  {% endif %}
</section>
</form>
{% endblock %}
